<link rel="stylesheet" href="/template/css/template.css" />
<script src="/template/js/dropdown.js"></script>

<div class="content-body input">
  <div class="main-content-body-container">
    <div class="main-content-body">
      <div class="button-group">
        <button type="button" class="btn btn-sm btn-success ADD" id="add">ADD</button>
        <button type="button" class="btn btn-sm btn-success SAVE" id="save-btn">SAVE</button>
      </div>

      <table id="table">
        <tbody>
          <tr>
            <td>
              <div class="form-input full-width">
                <select class="form-control dropdown-select2" required></select>
              </div>
            </td>
            <td>
              <div class="form-input full-width">
                <select class="form-control dropdown-select2" multiple required></select>
              </div>
            </td>
            <!-- <td>
              <div class="form-input full-width">
                <select class="form-control dropdown-select2" required></select>
              </div>
            </td> -->
            <td>
              <div class="form-input full-width">
                <div class="text-input">
                  <div>
                    <input
                      type="text"
                      class="form-control editable-field"
                      id="editTextInput"
                      placeholder="Text"
                      required
                    />
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="form-input full-width">
                <input
                  type="text"
                  class="form-control number-input number-input-2 edit-number"
                  placeholder="0"
                  required
                />
              </div>
            </td>
            <td>
              <div class="form-input full-width">
                <input
                  type="text"
                  class="form-control number-input number-input-2 copy-number"
                  placeholder="0"
                />
              </div>
            </td>
            <td><button type="button" class="btn btn-sm btn-danger DELETE">DELETE</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
