<link rel="stylesheet" href="/template/css/print.css" />

<div class="page">
  <div><span class="title">Customer : </span><span class="data">customer</span></div>
  <div><span class="title">Product Name : </span><span class="data">productName</span></div>
  <div class="grid">
    <div><span class="title">Product Code : </span><span class="data">productCode</span></div>
    <div><span class="title">Run No. : </span><span class="data">runNo</span></div>
  </div>
  <div><span class="title">Paper : </span><span class="data">paper</span></div>
  <div><span class="title">Production Date : </span><span class="data">productionDate</span></div>
  <div><span class="title">Expiration Date : </span><span class="data">expirationDate</span></div>
</div>

<div class="page">
  <div><span class="title">Customer : </span><span class="data">customer</span></div>
  <div><span class="title">Product Name : </span><span class="data">productName</span></div>
  <div class="grid">
    <div><span class="title">Product Code : </span><span class="data">productCode</span></div>
    <div><span class="title">Run No. : </span><span class="data">runNo</span></div>
  </div>
  <div><span class="title">Paper : </span><span class="data">paper</span></div>
  <div><span class="title">Production Date : </span><span class="data">productionDate</span></div>
  <div><span class="title">Expiration Date : </span><span class="data">expirationDate</span></div>
</div>
