<div class="content-body">
  <h2 class="head">inventory_tab3</h2>
  <div class="button-group SAVE">
    <button type="button" class="btn btn-sm btn-outline-secondary CANCEL">CANCEL</button>
    <button type="button" class="btn btn-sm btn-success SAVE">SAVE</button>
  </div>
  <div class="button-group APPROVE">
    <button type="button" class="btn btn-sm btn-outline-danger REJECT">REJECT</button>
    <button type="button" class="btn btn-sm btn-success APPROVE">APPROVE</button>
  </div>
  <div class="button-group ADD">
    <button type="button" class="btn btn-sm btn-outline-secondary CANCEL">CANCEL</button>
    <button type="button" class="btn btn-sm btn-success ADD">ADD</button>
  </div>
  <div class="button-group APPLY">
    <button type="button" class="btn btn-sm btn-outline-secondary CLEAR">CLEAR</button>
    <button type="button" class="btn btn-sm btn-primary APPLY">APPLY</button>
  </div>
  <div class="button-group DELETE">
    <button type="button" class="btn btn-sm btn-outline-secondary CANCEL">CANCEL</button>
    <button type="button" class="btn btn-sm btn-danger DELETE">DELETE</button>
  </div>
</div>
